header .left .logo {
  height: 60px;
}
header .center .center-container {
  position: absolute;
  bottom: 0px;
}
header .center .center-container .list button {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  border: 0;
  color: black;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 1.87px;
  text-decoration: underline;
}
header .right {
  flex-grow: 1;
}
header .right .up-right {
  align-self: flex-end;
}
header .right .up-right a {
  text-decoration: none !important;
  font-size: 12px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: normal;
  line-height: 16px;
  font-weight: 500;
  color: black;
  cursor: pointer;
}
header .right .up-right a img {
  width: 20px;
  height: 10px;
}
header .right .down {
  display: flex;
  bottom: 0;
  right: 0;
  align-self: flex-end;
}
header .right .down .search {
  background-color: #eceff1;
  height: 32px;
  width: 230px;
}
header .right .down .search input {
  background-color: #eceff1;
  border: none;
}
header .right .down .search i {
  color: black;
}
header .right .down .profile {
  position: relative;
}
header .right .down .profile i {
  font-size: 24px;
}
header .right .down .notification {
  position: absolute;
  top: 0;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  background-color: #ede734;
  border-radius: 50%;
  opacity: 0.9;
  font-size: 12px;
  font-weight: 700;
  transform: translateY(-50%);
  animation: jump 2s infinite;
}
@keyframes jump {
  0% {
    transform: translateY(-60%);
  }
  25% {
    transform: translateY(-80%);
  }
  50% {
    transform: translateY(-60%);
  }
  75% {
    transform: translateY(-80%);
  }
  80% {
    transform: translateY(-60%);
  }
  90% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(-60%);
  }
}

.main-1, .main-2 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-1 .left-container .cnt, .main-2 .left-container .cnt {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-1 .left-container .cnt .text-container, .main-2 .left-container .cnt .text-container {
  width: 435px;
}
.main-1 .left-container .cnt .text-container .card-title, .main-1 .left-container .cnt .text-container .text, .main-2 .left-container .cnt .text-container .card-title, .main-2 .left-container .cnt .text-container .text {
  font-family: "Helvetica", "Arial", sans-serif;
}
.main-1 .left-container .cnt .text-container .card-title, .main-2 .left-container .cnt .text-container .card-title {
  font-size: 36px;
  margin: 0;
}

.main-1 {
  background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/enUS/Images/soccer-fw23-messi-reactive-mh-d_tcm221-1057973.jpg");
  height: 320px;
}
.main-1 .top-button {
  position: relative;
  background-color: none;
  border: 1px solid #ffffff;
  width: 168px;
  height: 59px;
  margin-bottom: 13px;
}
.main-1 .bottom-button {
  position: relative;
  background-color: none;
  border: 1px solid #ffffff;
  width: 223px;
  height: 69px;
}
.main-1 .top {
  position: absolute;
  top: -3px;
  left: -3px;
  right: 3px;
  height: 58px;
  border: none;
}
.main-1 .top:hover {
  color: #746c6c;
  transform: translate(3px, 3px);
  transition: 0.2s;
}
.main-1 .bottom {
  position: absolute;
  height: 68px;
  top: -3px;
  left: -3px;
  right: 2px;
  border: none;
}
.main-1 .bottom:hover {
  color: #746c6c;
  transform: translate(3px, 2px);
  transition: 0.2s;
}

.main-2 {
  background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/enUS/Images/ub10--mh-lg-m-d_tcm221-1056615.jpg");
  height: 560px;
}
.main-2 .left-container {
  padding-top: 140px;
}
.main-2 .left-container .top-button {
  position: relative;
  background-color: none;
  border: 1px solid #ffffff;
  width: 158px;
  height: 59px;
  margin-bottom: 13px;
}
.main-2 .left-container .bottom-button {
  position: relative;
  background-color: none;
  border: 1px solid #ffffff;
  width: 183px;
  height: 69px;
}
.main-2 .left-container .top {
  position: absolute;
  top: -3px;
  left: -3px;
  right: 3px;
  height: 58px;
  border: none;
}
.main-2 .left-container .top:hover {
  color: #746c6c;
  transform: translate(3px, 3px);
  transition: 0.2s;
}
.main-2 .left-container .bottom {
  position: absolute;
  height: 68px;
  top: -3px;
  left: -3px;
  right: 2px;
  border: none;
}
.main-2 .left-container .bottom:hover {
  color: #746c6c;
  transform: translate(3px, 3px);
  transition: 0.2s;
}

.main-3 {
  background-color: rgb(237, 237, 227);
  height: 326px;
  flex-direction: column;
}
.main-3 .center, .main-3 .text {
  flex-direction: column;
  align-items: center;
}
.main-3 .center {
  color: black;
  font-weight: bolder;
  font-size: 28px;
  line-height: 28px;
  padding-top: 55px;
  font-family: "Helvetica", "Arial", sans-serif;
}
.main-3 .text {
  margin-left: 410px;
  padding: 10px;
  width: 520px;
}
.main-3 .text p {
  margin-bottom: 0.1px;
}
.main-3 .button-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.main-3 .button-container .center {
  display: flex;
  padding-top: 0;
}
.main-3 .button-container .center .upper, .main-3 .button-container .center .lower {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: underline;
  border: none;
  background-color: transparent;
  font-weight: 700;
}
.main-3 .button-container .center .upper span, .main-3 .button-container .center .lower span {
  font-size: 12px;
}
.main-3 .button-container span {
  background-color: transparent;
  font-size: 15px;
  font-family: "Helvetica", "Arial", sans-serif;
}
.main-3 .button-container span:hover {
  background-color: black;
  transition: 0.2s all linear;
  color: #ffffff;
}

.main-4 {
  width: 100%;
  height: 320px;
  padding-bottom: 363px;
}
.main-4 .pictures {
  padding: 40px;
}
.main-4 .pictures .pc-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-left: -69px;
  margin-right: 82px;
}
.main-4 .pictures .pc-container a {
  width: 24%;
  background-color: #eceff1;
  margin-top: 40px;
  margin-right: -135px;
  width: 305px;
}
.main-4 .pictures .pc-container a .stb-cnt, .main-4 .pictures .pc-container a .ndb-cnt, .main-4 .pictures .pc-container a .rdb-cnt, .main-4 .pictures .pc-container a .thb-cnt {
  flex-direction: column;
  margin: 0;
  padding-top: 0;
  box-sizing: border-box;
  background-color: #eceff1;
}
.main-4 .pictures .pc-container a .stb-cnt img, .main-4 .pictures .pc-container a .ndb-cnt img, .main-4 .pictures .pc-container a .rdb-cnt img, .main-4 .pictures .pc-container a .thb-cnt img {
  height: 174px;
  width: 174px;
}
.main-4 .pictures .pc-container a .stb-cnt .span span, .main-4 .pictures .pc-container a .ndb-cnt .span span, .main-4 .pictures .pc-container a .rdb-cnt .span span, .main-4 .pictures .pc-container a .thb-cnt .span span {
  text-decoration: underline;
  color: black;
  font-weight: 700;
  font-size: 14px;
}
.main-4 .pictures .pc-container a .stb-cnt .span span:hover, .main-4 .pictures .pc-container a .ndb-cnt .span span:hover, .main-4 .pictures .pc-container a .rdb-cnt .span span:hover, .main-4 .pictures .pc-container a .thb-cnt .span span:hover {
  background-color: black;
  color: #ffffff;
  -webkit-text-decoration: underline solid black;
          text-decoration: underline solid black;
}
.main-4 .pictures .pc-container a:hover {
  cursor: pointer;
}

.main-5 .top {
  padding-top: 40px;
  margin-left: 40px;
}
.main-5 .top .left {
  padding-bottom: 34px;
}
.main-5 .top .left i {
  font-size: 30px;
  margin-right: -2px;
}
.main-5 .top .left button {
  border: none;
  background-color: transparent;
}
.main-5 .top .left button span {
  font-size: 28px;
  font-weight: 700;
  font-family: "Helvetica", "Arial", sans-serif;
}
.main-5 .top .right {
  margin-right: 60px;
  font-size: 18px;
}
.main-5 .top .right button:hover {
  background-color: black;
}
.main-5 .top .right button:hover i {
  color: white;
}
.main-5 .top .right a {
  color: black;
  text-decoration: underline;
  font-size: 15px;
  font-weight: 700;
  font-family: "Helvetica", "Arial", sans-serif;
}
.main-5 .top .right a:hover {
  background-color: black;
  color: white;
  -webkit-text-decoration: underline solid black;
          text-decoration: underline solid black;
}
.main-5 .top .right button {
  border: 0;
  background-color: transparent;
}
.main-5 .bottom {
  padding-left: 60px;
}
.main-5 .bottom .pc-container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  touch-action: pan-right;
  white-space: nowrap;
}
.main-5 .bottom .pc-container::-webkit-scrollbar {
  display: none;
}
.main-5 .bottom .pc-container img {
  height: auto;
  width: 278px;
}
.main-5 .bottom .pc-container .box {
  position: relative;
  margin-right: 6px;
  height: 373px;
  border: 1px solid white;
}
.main-5 .bottom .pc-container .box .price {
  position: absolute;
  bottom: 92px;
  left: 10px;
  transition: transfrom 0.3s ease;
}
.main-5 .bottom .pc-container .box .price span {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: -32px;
  background-color: #ffffff;
  color: black;
}
.main-5 .bottom .pc-container .box .text {
  position: absolute;
  padding-top: 5px;
  margin-left: 15px;
  left: 0;
}
.main-5 .bottom .pc-container .box .text .t, .main-5 .bottom .pc-container .box .text .t2 {
  color: black;
  margin-top: 2px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
}
.main-5 .bottom .pc-container .box .text .t2 {
  margin-top: -12px;
}
.main-5 .bottom .pc-container .box:hover {
  border: 1px solid black;
}
.main-5 .bottom .pc-container .box:hover .price {
  transform: translateY(-6px);
  transition: 0.2s;
}

.main-6 {
  padding-top: 145px;
  margin-left: 48px;
}
.main-6 .picture-container {
  display: flex;
  margin-right: 59px;
}
.main-6 .picture-container .box {
  margin-right: 10px;
}
.main-6 .picture-container .box img {
  height: 403px;
  width: 302px;
}
.main-6 .picture-container .box text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.main-6 .picture-container .box .t {
  padding-top: 15px;
  font-size: 16px;
}
.main-6 .picture-container .box .t2, .main-6 .picture-container .box .t21 {
  font-size: 13px;
  margin-bottom: 38px;
  font-size: 14px;
  line-height: 18px;
}
.main-6 .picture-container .box .t21 {
  margin-bottom: 14px;
}
.main-6 .picture-container .box button {
  border: none;
  background-color: transparent;
  margin-top: auto;
}
.main-6 .picture-container .box button span {
  text-decoration: underline;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: "Helvetica", "Arial", sans-serif;
}
.main-6 .picture-container .box button span:hover {
  background-color: black;
  color: white;
  -webkit-text-decoration: underline solid black;
          text-decoration: underline solid black;
}
.main-6 .picture-container .box .s {
  padding-bottom: -2px;
}

.main-7 {
  margin: 66px;
}
.main-7 h4 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 28px;
  margin-bottom: 15px;
}
.main-7 .box {
  margin-right: -5px;
  position: relative;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  margin-right: 8px;
}
.main-7 .box img {
  width: 295px;
  height: 193px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-7 .box .text {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-left: 10px;
  position: relative;
  min-height: 150px;
  margin-top: -24px;
  background-color: #ffffff;
  margin-left: 20px;
}
.main-7 .box .text .t2 {
  margin-left: 12px;
}
.main-7 .box .text .title {
  font-weight: 700;
  margin-left: 10px;
}
.main-7 .container {
  margin: -30px;
}
.main-7 .container h2 {
  margin-top: 60px;
  letter-spacing: 0px;
  line-height: 36px;
  font-weight: 700;
  color: black;
  margin-bottom: 59px;
}
.main-7 .container .row {
  margin-bottom: 47px;
}
.main-7 .container .row .col {
  margin-left: 15px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 40px;
  color: black;
  border-bottom: 1px solid black;
  margin-bottom: -1px;
  text-decoration: none;
}
.main-7 .container .row .col:hover {
  border-bottom: 10px solid black;
}

.main-8 {
  margin-left: -72px;
  background-color: #f5f5e5;
}
.main-8 .container {
  padding-top: 12px;
}
.main-8 h2 {
  width: 420px;
  padding-top: 50px;
  font-size: 40px;
  font-weight: 700;
  color: black;
}
.main-8 .text {
  width: 575px;
  color: black;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 73px;
}
.main-8 .right {
  margin-left: 79px;
}
.main-8 .right .text {
  margin-top: 57px;
}

.main-9 {
  background-color: #ede734;
  height: 133px;
}
.main-9 span {
  color: black;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-top: 36px;
}
.main-9 .button {
  margin-top: 36px;
  position: relative;
  background-color: none;
  border: 1px solid black;
  width: 268px;
  height: 59px;
  margin-bottom: 13px;
  background-color: transparent;
}
.main-9 button {
  position: absolute;
  top: -3px;
  left: -3px;
  right: 3px;
  height: 58px;
  border: none;
  background-color: black;
}
.main-9 button span {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
}
.main-9 button i {
  color: white;
}
.main-9 button:hover {
  transform: translate(3px, 3px);
  transition: 0.2s;
}
.main-9 button:hover i, .main-9 button:hover span {
  color: #746c6c;
}

.main-10 {
  margin-left: 170px;
  margin-right: 180px;
  margin-top: 37px;
  margin-bottom: 42px;
}
.main-10 .loc {
  margin-left: auto;
  padding-left: ayto;
  display: flex;
  flex-direction: column;
}
.main-10 .loc1 {
  display: flex;
  flex-direction: column;
  width: 40px;
  justify-content: left;
}
.main-10 .title {
  margin-right: 25px;
}
.main-10 h5 {
  font-weight: 700;
  line-height: 22px;
  color: black;
}
.main-10 .a1 {
  margin-top: 15px;
}
.main-10 a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  margin-right: 25px;
}
.main-10 a:hover {
  text-decoration: underline;
}
.main-10 button {
  background-color: transparent;
  border: none;
}
.main-10 button i {
  font-size: 25px;
  margin-bottom: 2px;
}

footer {
  height: 130px;
  background-color: #2b2b30;
}
footer .r {
  padding-top: 33px;
}
footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  border-right: 1px solid #ffffff;
  padding-right: 10px;
  margin-right: 10px;
}
footer a:last-child {
  border-right: none;
}
footer p {
  color: #eceff1;
  font-size: 12px;
  margin-top: 42px;
}/*# sourceMappingURL=main.css.map */